body{
    font-family:"Arial", sans-serif;
    background-color:#ffffff;
}
/* Header start*/
.inl{
    display:inline-block;
}
ul,li,img{
    margin-top:0;
}
.header{
    background-color:#292900;
    height:60px;
}
.header ul li{
    display:inline-block;
    color: rgba(255, 255, 255, 0.71);
    margin-top:0;
    font-size:0.9em;
}
.logo{
    width:80%;
    height:80%;
    margin-top:10px;
 }
.img-top{
    width:55%;
    height:55%;

}
.ava-img{
    width:30%;
    height:30%;
    position:relative;
    top:2px;
}
.prof-s{
    color:white;
    margin-bottom:20px;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    background-color:#292900;
    position:relative;
    top:-15px;
}
.right-top{
    float:right;
    position:relative;
    left:-20px;
}
.head-ul li{
    width:20px;
    height:20px;
    background:red;
    margin-right:59px;
    margin-left:-31px;
    border-radius:50%;
    position:relative;
    top:-41px;
    vertical-align:middle;
    text-align:center;
}
.head-ul li:last-child{
    position:relative;
    top:-40px;
    left:5px;
}
.head-ul li:first-child{
    position:relative;
    top:-40px;
    left:-3px;
}
.prof{
    margin-left:-80px;
}
/* Header - end */
/* Left-side menu - start */
.ls-menu{
    width:360px;
    height:850px;
    background-color: #3d3d3d;
    float:left;
    color: rgba(255, 255, 255, 0.71);
}
.ls-top-img{
    width:15%;
    height:15%;
    margin-top:25px;
    margin-left:230px;
    margin-bottom:10px;
}
.ls-menu .mm{
    position:relative;
    left:-40px;
}
.sub-menu li{
    list-style:none;
}
.ls-menu li{
    list-style:none;
    width:330px;
}
.search-button{
    background-color:#3d3d3d;
    color: rgba(118, 118, 118, 0.77);
    width:280px;
    padding-top:0;
    padding-bottom:5px;
    margin-bottom:30px;
    font-size:1.3em;
    border:none;
    border-bottom:2px solid rgba(255, 255, 255, 0.71);
}
.sch-img{
    width:7%;
    height:7%;
    position:relative;
    left:-30px;
    top:5px;
}
a{
    color:rgba(255, 255, 255, 0.71);
    text-decoration: none;
}
/* !!! Hiding sub-menu !!! */
.sub-menu li{
    position:relative;
    left:25px;
    padding:15px;
    width:300px;
    display:none;
/* !!! Hiding sub-menu !!! */
}
.m-block{
    display:block;
    border-bottom:1px solid rgba(98, 98, 98, 0.77);
    padding:15px;
    font-size:1.2em;
}
.m-block:last-child{
    border-bottom:none;
}
.m-block a{
    display:block;
    padding: 0 5px 5px 5px;
    background-color:#3d3d3d;
    color: rgba(118, 118, 118, 0.77);
    font-size:1.3em;
    border:none;
}
.m-block>a{
    color: rgba(237, 237, 237, 0.77);
}
.r-img{
    float:right;
    margin-right:10px;
    margin-top:10px;
}
.rel{
    position:relative;
    top:5px;
    left:-5px;
}

/* Left-side menu - end*/
/* Blocks from right-side - start */

.rs-content{
    float:right;
    width:610px;
    margin-right:-350px;
}
.top-rs-cont{
    margin-bottom:150px;
}
.float-right{
    font-size:1.3em;
    text-align:right;
    padding-right:20px;
}
.gm-img{
    height:40px;
}
.blue-but{
    height:40px;
}
.title-f{
    width:150px;
    height:30px;
    color: rgba(147, 147, 147, 0.77);
    font-size:1.1em;
}
.lis-ag-sel{
    width:155px;
    height:35px;
    padding-left:5px;
    padding-top:3px;
    font-size:1.1em;
}
.assig{
    width:280px;
    height:35px;
}
.pry-ur,.stat-pen{
    width:105px;
    height:35px;
    padding-top:3px;
    font-size:1.1em;
}
.start-f,.stop-f,.remid-f{
    width:200px;
    height:35px;
    border:2px solid #e7e7e0;
    border-right:none;
    display:inline-block;
    vertical-align:middle;
    background-color: rgba(238, 238, 238, 0.80);
}
.calend-img{
    width:36px;
    margin-top:10px;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    top:-5px;
    left:-5px;
}
.loc-f{
    width:200px;
    height:35px;
    border:2px solid #e7e7e0;
    border-right:none;
}
.gm-img{
    height:41px;
    display:inline-block;
    vertical-align:middle;
    position:relative;
    left:-5px;
}
.est-l{
    font-size:1.3em;
}
.est-f,.sp-f{
    width:120px;
    height:35px;
}
.estimate{
    height:100px;
}
.sp-f{
    margin-left:30px;
}
.spt{
    margin-left:20px;
    font-size:1em;
}
.estimate td label .spt{
    font-size:1em;
}
.att-f{
    width:100px;
    height:35px;
    font-size:1.1em;
}
            /* Two elements from right side. Table & comment field */

.che-tab{
    border-collapse:collapse;
    border:2px solid #dedede;
    margin-bottom:30px;
    float:right;
}
.che-tab td{
    border-bottom:2px solid #e8faff;
    padding:10px;
}
.che-tab tr:last-child td {
    border-bottom:none;
}
.gr{
    color: #afafaf;
}
.rig-c{
    width:350px;
    border-left:4px solid #c58e8c;
}
.not-here-f{
    background-image:url('./For 3rd task/sandfield.jpg');
    background-size:100%;
    font-size:1.3em;
    width:350px;
    height:120px;
    margin-bottom:30px;
}
.notes-list{
    margin-left:200px;
}
.t-r-ic{
    width:4%;
    height:4%;
    position:relative;
    bottom:125px;
    right:35px;
}
            /* Bottom of right side. Comments and search */

.comm-tb,.comm-tab{
    border-collapse:collapse;
    margin-bottom:30px;
}
.grey-bg{
    background-color: rgba(238, 238, 238, 0.80);
}
.fir-com,.sec-com{
    height:100px;
}
.top-cel{
    height:10px;

}
.bot-cel{
    height:75px;
}
span{
    color:dodgerblue;
}
.rich{
    text-align:right;
}
.mess-f{
    width:500px;
    height:36px;
    border:1px solid #f6f6f6;
    border-right:none;
    color: #c9c9c9;
}
.message-text{
    background-color: #dddddd;
    width:585px;
    height:40px;
    padding:20px;
}
.blue-but{
    display:inline-block;
    vertical-align:middle;
    position:relative;
    left:-5px;
    top:-1px;
}
/* Blocks from right-side end */